
<div class="container">
<% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |error| %> 
        <li class ="red-text"><%= error %></li>
    
    <%end%>
      </ul>
  <% end %>
    
  <div class="row center sign-up-form">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h3 class="header">Sign Contract </h3>
        <div class="row">
          <%= form_for(@contract, html: {class: "col s12"}) do |f| %>
            <div class="row">
              <div class="input-field col s12">
                <%= f.collection_select :team_id, Team.all , :id , :name ,  { prompt: "Choose a Team" }, class: "browser-default" %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
             
                <%= f.collection_select :player_id, Player.all, :id, :name, { prompt: "Choose a player" }, class: "browser-default" %>
               
              </div>
            </div>
           
           <div class="row">
              <div class="input-field col s12">
              <%= f.label  :length , class: "browser-default" %> 
                <%= f.number_field :length  , {prompt: "choose length" } %>
                
               
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.submit "Submit", class: "waves-effect waves-light btn grey right" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>