



<h1> Add A Player </h1>
<%= form_for @player, html: { class: "form" } do |f|%>
  <%= f.label :name  %><br>
  <%= f.text_field :name%><br>
  <%= f.label :goals %><br>
  <%= f.number_field :goals %><br>
  <%= f.label :assists %><br>
  <%= f.number_field :assists %><br>
  <%= f.label "Image Link"  %> 
  <%= f.text_field :image_url %>
  <%= f.submit "Add A Player" , class: "button"%>
<%end%>
