<!DOCTYPE html>
<html>
  <head>
    <title>Soccer Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body> 
 
    <nav>
    <div class="nav-wrapper  cyan lighten-1">
      <%= link_to "Futbal Manager" , "/welcome",  class:"brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down" >
        <li ><%= link_to "Teams", teams_path %></li>
        <li> <%= link_to "Players",  players_path %></li>
        <li> <%= link_to "Leagues", leagues_path %></li>
         <li><%= link_to "Contract", new_contract_path %></li>
          <% if logged_in? %>
             <li>  Welcome, <%= current_user.username %>! <li>
            <span class="waves-effect waves-light btn grey"><%= button_to "Log out", logout_path , method: :delete %> </span>
            <% else %>
            <li>  <%= link_to "Log In", sessions_path %> </li>
            <% end %>
          
         
      </ul>
    </div>
  </nav>
<div class="container">
        <!-- Page Content goes here -->
        <%= yield %> 
      </div>
 
 <footer class = "cyan lighten-1"> 

      <p class = "copy-right" > &copy; Made By Xavier  </p>
    </footer>
  </body> 
</html> 