<!DOCTYPE html>
<html>
  <head>
    <title>CrocDoc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="menu">
      <div class="container">
        <nav class="logo">
          <h2> Futbol Player Manager</h2>
        </nav>
        <nav class="right">
          <%= link_to "Team", teams_path, class: "item" %>
           <%= link_to "Player",  players_path, class: "item" %>
            <%= link_to "Leagues", leagues_path, class: "item" %>
             <%= link_to "Contract", new_contract_path, class: "item" %>
          <span class="item">

            <% if logged_in? %>
              Welcome, <%= current_user.username %>!
              <%= button_to "Log out", logout_path , method: :delete %>
            <% else %>
              <%= link_to "Log In", sessions_path %>
            <% end %>

          </span>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>